        <footer>
            <div class="row wrapper">
                <section class="col">
                    <h4>A propos</h4>
                    <p>
                        Sur Ephedra (une boutique purement fictive), vous pourrez acheter de très jolies plantes fictives, imaginaires ou irréelles.
                        Frais de port offerts !
                    </p>
                </section>

                <section class="col">
                    <h4>Plan du site</h4>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/catalogue">Catalogue</a></li>
                        <li><a href="/catalogue?search=true">Rechercher un article</a></li>
                        <li><a href="/compte">Mon compte client</a></li>
                    </ul>
                </section>
            </div>

            <section class="copyright">
                <p class="wrapper">Ephedra © 2018</p>
            </section>
        </footer>

        <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="../assets/javascript/utils.js"></script>
        <script src="../assets/javascript/form_validator.js"></script>
        <script src="../assets/javascript/display_to_form.js"></script>
        <script src="../assets/javascript/plus_minus.js"></script>
    </body>
</html>
