{% extends "layout.html" %}
{% block content %}

<main class="cart">
    <span class="separation titre d-flex flex-column">
        <img src="../assets/icons/buy.svg">
        <h2>Mon panier</h2>
    </span>

    <div class="wrapper row">

        <div class="box col-lg-6 col-sm-12">
            <img class="item" src="../assets/images/article_small3.jpg">
            <img class="item" src="../assets/images/article_small4.jpg">
            <img class="item" src="../assets/images/article_small2.jpg">
        </div>

        <div class="box col-lg-6 col-sm-12">
            <div class="info d-flex">
                <span>
                    <h3>Nom d'article x<span class="quantity">1</span></h3>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </span>
                <span class="price">6,00€</span>
            </div>
            <div class="info d-flex">
                <span>
                    <h3>Nom d'article x<span class="quantity">1</span></h3>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </span>
                <span class="price">15,05€</span>
            </div>
            <div class="info d-flex">
                <span>
                    <h3>Nom d'article fabuleux x<span class="quantity">1</span></h3>
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                </span>
                <span class="price">7,00€</span>
            </div>

            <p class="total">Total: <span>18,00 €</span></p>

            <button>Valider</button>
        </div>
    </div>
</main>

{% endblock %}
