{% extends "layout.twig" %}
{% block content %}

<main class="shop">

    <span class="separation d-flex flex-column">
        <img src="../assets/icons/list.svg">
        <h2>Catalogue</h2>
    </span>

    <div class="wrapper">

        <form action="" method="get" class="d-flex justify-content-between">
            <img src="../assets/icons/search.svg">

            <fieldset class="search_inputs">
                <label for="search">Rechercher un produit</label>
                
                <div>
                    <input id="search" type="text">
                    <button type="submit">Filtrer</button>
                </div>
            </fieldset>

            <fieldset>
                <div class="group">
                    <input type="radio" name="price" id="less_10" value="less_10">
                    <label for="less_10">Moins de 10€</label>
                </div>

                <div class="group">
                    <input type="radio" name="price" id="less_30" value="less_30">
                    <label for="less_30">Moins de 10€</label>
                </div>

                <div class="group">
                    <input type="radio" id="all" name="price" value="all" checked="checked">
                    <label for="all">Tous</label>
                </div>
            </fieldset>

            <fieldset>
                <div class="group">
                    <input type="radio" name="plant" id="in" value="in">
                    <label for="in">Plantes d'intérieur</label>
                </div>

                <div class="group">
                    <input type="radio" id="out" name="plant" value="out">
                    <label for="out">Plantes d'extérieur</label>
                </div>

                <div class="group">
                    <input type="radio" name="plant" id="in_out" value="in_out" checked="checked">
                    <label for="in_out">Toutes</label>
                </div>
            </fieldset>

        </form>

        <div class="content d-flex justify-content-between">
            {% for article in articles %}
                <a href="/produit/{{ article.id }}" class="item">
                    {% if article.images()[0] != null %}
                        <img src="../assets/images/{{ article.images()[0].name }}.jpg">
                    {% endif %}
                    <h3>{{ article.name }}</h3>
                    <span class="price">{{ article.price|number_format(2, ',', ' ') }} €</span>
                </a>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock %}
