    <footer class="container">
        
        <div class="row wrapper">
            <section class="col">
                <h4>A propos</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas felis massa, molestie vitae lacinia eget, aliquam tincidunt metus.
                    Duis accumsan mauris eu erat elementum, sit amet dignissim ante elementum.
                </p>
            </section>
            
            <section class="col">
                <h4>Plan du site</h4>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/">Catalogue</a></li>
                    <li><a href="/">Rechercher un article</a></li>
                    <li><a href="/">Mon compte client</a></li>
                </ul>
            </section>
        </div>
        
        <section class="wrapper row copyright">
            Ephedra © 2018
        </section>
    </footer>
        
    </body>
</html>