<nav class="wrapper main-menu d-flex justify-content-end">
    <ul class="list-inline">
        <li class="list-inline-item search">
            <a href="/catalogue?search=true">
                <img src="../assets/icons/search.svg" alt="Recherche">
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/panier">
                <img src="../assets/icons/buy.svg" alt="Panier">
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/connexion">
                <img src="../assets/icons/account.svg" alt="Connexion et Inscription">
            </a>
        </li>
    </ul>
</nav>

<header>
    <h1>Ephedra</h1>    
</header>